{% extends 'news/base.html' %}
{% load humanize %}
{% block body %}
{% load static %}
<div class="col-lg-12 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="position-relative">
                  <div class="rotate-img">
                    <img src="/media/{{news.image}}" alt="thumb" class="img-fluid w-100" />
                  </div>
                </div>
              </div>
              <div class="col-sm-8  grid-margin">
                <h2 class="mb-2 font-weight-600">
                  {{news.title}}
                </h2>
                <div class="fs-13 mb-2">
                  <span class="mr-2">{{news.added_on}}</span>
                </div>
                <p class="mb-0">
                  {{news.contenet}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container">
  <h2>Comments ({{comments.count}})</h2>
  <div class="my-2">
    {% if user.is_authenticated %}
    <form action="/news/postcomment" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" id="name" name="comment" placeholder="Enter comment">
      </div>
      <input type="hidden" name="newsid" value="{{news.id}}">
      <input type="hidden" name="parentsno" value="">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% else %}
    <p>Please login to post comment</p>
    {% endif %}
  </div>


  {% for comment in comments %}
  <div class="row my-3">
    <div class="col-md-1"> <img class="w-100" src="/static/img/user.png" alt="user"></div>
    <div class="col-md-11"> <b>{{comment.user.username}}</b> <span
        class="badge badge-secondary">{{comment.timstamp | naturaltime}}</span>
      <div>{{comment.comment}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock body %}