{% extends 'news/base.html' %}
{% block body %}
{% load static %}
<div class="row m-0" data-aos="fade-up">
      <div class="col-lg-12 stretch-card grid-margin m-0">
        <div class="card">
        <u><h1 class="text-center">Search result</h1></u>
          <div class="card-body">
            {% if all_news|length < 1 %}
            <p>No search found for <b>{{query}} </b></p>
            {% endif %}
            {% for news in all_news %}
            <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="position-relative">
                  <div class="rotate-img">
                    <a href="/{{news.id}}" ><img src='/media/{{news.image}}' alt="thumb" class="img-fluid img-lg w-100" /></a>
                  </div>
                  <div class="badge-positioned">
                  </div>
                </div>
              </div>
              <div class="col-sm-8  grid-margin">
                <h2 class="mb-2 font-weight-600">
                  {{news.title}}
                </h2>
                <div class="fs-13 mb-2">
                  <span class="mr-2">{{news.added_on}}</span>
                </div>
                <p class="mb-0">
                  {{news.contenet | truncatechars:30}}
                </p>
                <br>
                <a href="/{{news.id}}" class="font-weight-600 fs-16">Read more</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock body %}