<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>News 24</title>
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{% static './assets/vendors/mdi/css/materialdesignicons.min.css' %} " />
  <link rel="stylesheet" href="{% static './assets/vendors/aos/dist/aos.css/aos.css' %} " />

  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %} ">
  <!-- endinject -->
</head>

<body>
  <div class="container-scroller">
    <div class="main-panel">
      <header id="header">
        <div class="">
          <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="navbar-bottom p-0">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <div class="navbar-collapse justify-content-center collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-lg-flex justify-content-between align-items-center">

                      <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/news/Politics">Politics</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/news/International">International</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/news/Sports">Sports</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/news/Technical">Technology</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/news/Technical">Image gallery</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/news/Technical">Videos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="navbar-top">

                  <div class="d-flex justify-content-between align-items-center">

                    <ul class="navbar-top-right-menu">
                      <form method="get" action="/search">
                        <li class="nav-item">
                          <input name="search" style="height: 0px;" id="search" class="form-control mr-sm-2"
                            type="search" placeholder="Search" aria-label="Search" required>
                          <button type="submit" class=" btn nav-link mdi mdi-magnify"></a></button>
                        </li>
                      </form>
                      {% if user.is_authenticated %}
                      <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome {{request.user}}
                            <span class="dropdown-toggle"></span>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item " href="/logout">Logout </a>
                          </div>
                        </li>
                      </ul>

                      {% else %}
                      <li class="nav-item">
                        <a href="" class="nav-link" data-toggle="modal" data-target="#loginmodal">Login</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" onclick="$('#yourModal').modal({'backdrop': 'static'});" class="nav-link"
                          data-toggle="modal" data-target="#signupmodal">Sign in</a>
                      </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- partial -->
      <div class="flash-news-banner">
        <div class="container">
          <div class="d-lg-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <span class="badge badge-dark mr-3">Breaking news</span>
              <p class="mb-0">
                {{all_news.0.title | truncatechars:30}}
              </p>
            </div>
            <div class="d-flex">
              <span class="mr-3 text-danger">{% now "jS F Y" %}</span>
            </div>
          </div>
        </div>
      </div>

      {% for message in messages %}
      <div class="alert alert-{{message.tag}} alert-dismissible fade show m-0" role="alert">
        <strong>Message</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}

      {% block body %}

      {% endblock body %}

      <!-- partial:partials/_footer.html -->
      <footer>
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="font-weight-normal mt-4 mb-5">
                  News 24 Newspaper is your news, entertainment, music fashion website. We
                  provide you with the latest breaking news and videos straight from
                  the entertainment industry.
                </h5>
                <ul class="social-media mb-3">
                  <li>
                    <a href="#">
                      <i class="mdi mdi-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-youtube"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <!--Login Modal -->
      <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="signuloginmodalpmodal"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginmodal">Login form</h5>
              <button type="button" class="close p-1 m-0" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/login" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">User name</label>
                  <input type="text" class="form-control" id="loginusername" name="loginusername"
                    placeholder="User name" required>
                </div>
                <div class="form-group">
                  <label for="pwd">Password</label>
                  <input type="password" class="form-control" id="loginpwd" name="loginpwd" placeholder="Password"
                    required>
                </div>
                <button id="login" type="submit" class="btn btn-primary login">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--signup Modal -->
      <div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="signuloginmodalpmodal"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="signupmodal">Signup form</h5>
              <button type="button" class="close p-1 m-0" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action='/signup' , method='post'>
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">User name</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="User name"
                    required>
                </div>
                <div class="form-group">
                  <label for="fname">First name</label>
                  <input type="text" class="form-control" id="fname" name="fname" placeholder="First name" required>
                </div>
                <div class="form-group">
                  <label for="lname">Last name</label>
                  <input type="text" class="form-control" id="lname" name="lname" placeholder="Last name" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="Email address" required>
                </div>
                <div class="form-group">
                  <label for="pwd">Password</label>
                  <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" required>
                </div>
                <div class="form-group">
                  <label for="cnfpwd">Confirm password</label>
                  <input type="password" class="form-control" id="cnfpwd" name="cnfpwd" placeholder="Confirm password"
                    required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- partial -->
    </div>
  </div>
  <!-- inject:js -->
  <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="{% static 'assets/vendors/aos/dist/aos.js/aos.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="{% static './assets/js/demo.js' %}"></script>
  <script src="{% static './assets/js/jquery.easeScroll.js' %}"></script>
  <!-- End custom js for this page-->
</body>
<script>


  $('.login').on('click', 'button.login', function () {
    console.log("asdsa")
  });
</script>

</html>