{% extends 'news/base.html' %}
{% block body %}
{% load tag_library %}
{% load static %}

<!-- Displaying latest news -->
<div class="content-wrapper">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-xl-6 stretch-card grid-margin">
        <div class="card bg-dark text-white">
          <div class="card-body">
            <h2>Latest news</h2>
            {% for news in all_news|slice:"3" %}
            <div class="d-flex pt-4 align-items-center justify-content-between">
              <div class="pr-3">
                <h5>{{news.title}}</h5>
                <div class="fs-12">
                  <span class="mr-2">{{news.added_on}}</span>
                </div>
                <br>
                <a href="/{{news.id}}" class="font-weight-600 fs-16">Read...</a>
              </div>
              <div class="rotate-img">
                <a href="/{{news.id}}"><img src='/media/{{news.image}}' alt="thumb" class="img-fluid img-lg" /></a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-xl-6 stretch-card grid-margin">
        <div class="card bg-dark text-white">
          <div class="card-body">
            <h2>Latest news</h2>
            {% for news in all_news|slice:"3:6" %}
            <div class="d-flex pt-4 align-items-center justify-content-between">
              <div class="pr-3">
                <h5>{{news.title}}</h5>
                <div class="fs-12">
                  <span class="mr-2">{{news.added_on}}</span>
                </div>
                <br>
                <a href="/{{news.id}}" class="font-weight-600 fs-16">Read...</a>
              </div>
              <div class="rotate-img">
                <a href="/{{news.id}}"><img src='/media/{{news.image}}' alt="thumb" class="img-fluid img-lg" /></a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- Displaying flash news -->
    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            {% for news in all_news|slice:"6:9" %}
            <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="position-relative">
                  <div class="rotate-img">
                    <a href="/{{news.id}}"><img src='/media/{{news.image}}' alt="thumb"
                        class="img-fluid img-lg w-100" /></a>
                  </div>
                  <div class="badge-positioned">
                    <span class="badge badge-danger font-weight-bold">Flash news</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-8  grid-margin">
                <h2 class="mb-2 font-weight-600">
                  {{news.title}}
                </h2>
                <div class="fs-13 mb-2">
                  <span class="mr-2">{{news.added_on}}</span>
                </div>
                <p class="mb-0">
                  {{news.contenet | truncatechars:30}}
                </p>
                <br>
                <a href="/{{news.id}}" class="font-weight-600 fs-16">Read more</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- Grouping news category wise  -->
    {% regroup all_news|dictsort:"category_id" by category as all_news_by_category %}

    <!-- displaying news category wise -->
    <div class="row grid-margin " data-aos="fade-up">
      {% with val=all_news_by_category|length|to_int %}
      {% with round=val|devide:2 %}
      {% for cat in all_news_by_category%}
      <div class="col-sm-6 my-2" style="height: auto;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-12 col-lg-4 col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card-title">
                      <u>{{cat.grouper}} news</u>
                    </div>
                    {% for news in cat.list|slice:"2" %}
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="border-bottom pb-3">
                          <div class="row">
                            <div class="col-sm-5 pr-2">
                              <div class="rotate-img">
                                <img src="/media/{{news.image}}" alt="thumb" class="img-fluid w-100" />
                              </div>
                            </div>
                            <div class="col-sm-7 pl-2">
                              <p class="fs-16 font-weight-600 mb-0">
                                {{news.title}}
                              </p>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">{{news.added_on}} </span>
                              </p>
                              <p class="mb-0 fs-13">
                                {{news.contenet | truncatechars:30}}
                              </p>
                              <br>
                              <a href="/{{news.id}}" class="font-weight-600 fs-16">Read more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <div class="text-center">
                      <a href="news/{{cat.grouper}}" class="font-weight-600 fs-16 text-dark text-center">See
                        all</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endwith %}
      {% endwith %}
    </div>>
  </div>
</div>
{% endblock body %}